<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syetem Logs</title>
    <!-- Linking to the static CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const updateInterval = 1000; // 1 second

        function fetchSystemLogs() {
            $.getJSON('/system_logs', function(data) {
                let tableBody = $('#logs tbody');
                tableBody.empty(); // Clear existing entries
                data.forEach(log => {
                    tableBody.append(`<tr><td>${log[0]}</td><td>${log[1]}</td><td>${log[2]}</td></tr>`);
                });
            });
        }

        $(document).ready(function() {
            fetchSystemLogs(); // Initial fetch for system logs
            setInterval(fetchSystemLogs, updateInterval); // Fetch every second for system logs
        });
    </script>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="logo">Parking System</div>
        <div class="nav-links">
            <a href="reports.html" class="nav-link">Reports</a>
            <a href="settings.html" class="nav-link">Settings</a>
            <a href="login.html" class="nav-link">Sign Out</a>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <a href="index.html" class="nav-link">Dashboard</a>
        <a href="cameraViews.html" class="nav-link">View Cameras</a>
        <a href="DatabaseView.html" class="nav-link">View Database</a>
        <a href="logView.html" class="nav-link">View System Logs</a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Log Database-->
        <div class="right-column">
            <div class="logs log-view">
                <h2>System Logs</h2>
                <table id="logs">
                    <thead>
                        <tr>
                            <th>Log ID</th>
                            <th>Timestamp</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dynamic content will be populated here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        &copy; 2024 Parking System. All Rights Reserved.
    </footer>

</body>
</html>